
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #03191e   ;
  --secondary-color: #7f7089 ;
  --accent1-color: #Ba1b1d;
  --accent2-color: #fcfcfc;
  --accent3-color: #e3B505; 

  /* change the values below to your chosen font(s) */
  --heading-font: "Garamond";
  --paragraph-font: "Times New Roman"

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #03191e;  /* headlines on a white background */ 
  --headline-color-on-color: #Ba1b1d; /* headlines on a colored background */ 
  --paragraph-color-on-white: #03191e; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #7f7089  ;
  --nav-link-color: #396E94;
  --nav-background-color: #e3B505;
  --nav-hover-link-color: #fcfcfc;
  --nav-hover-background-color: #Ba1b1d;
}

/* Homepage CSS  */

body{
  background-image: linear-gradient(white,#Ba1b1d)
}


.homemain{
  display: grid;
  grid-template-columns: 200px 1fr;
}

.logo{
  height: 250px;
  width: 200px;
  grid-column: 1/2;
}

.welcome{
  grid-column: 2/3;
  text-align: right;
}

.main2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10px 10px 10p 10px 10px 1fr;
}

.formatdiv{
  grid-column: 1/2;
  grid-row: 1/2;
}

.stratdiv{
  grid-column: 1/2;
  grid-row: 2/3;
}


.formdiv{
  grid-column: 1/2;
  grid-row: 3/4;
}

.generatediv{
  grid-column: 1/2;
  grid-row: 4/5;
}

.lamp{
  grid-column: 1/2;
  grid-row: 5/6;
  height: 120px;
  width: 120px;
}

.lamp:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.cardbox{
  border: 10px solid black;
  border-style: groove;
  border-color: grey;
  height: 175px;
  width: 100px;
  padding: 50px;
  margin: 20px;
  box-shadow: 2px 2px 4px lightslategray;
  grid-column: 2/3;
  grid-row: 1/7;
}



/* Vault CSS  */


.vaultmain{
  display:grid; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
}

.vaultdeckdetails{
  border: solid 20px black

}

.vault{
  margin-top: -80px;
}

.add{
  text-align: center;
  margin: auto;
  margin-top: -50px;
  text-decoration: none;
  display: inline-block;
  height: 55px;
  width: 150px;
}


/* trading css*/

.marketplacemain{
  display: grid;
  grid-template-columns: 1fr 625px;
  grid-template-rows: 1fr 1fr 1fr;
}

.marketplace{
  grid-column: 2/3;
  grid-row: 1/4;
  height: 500px;
  width: 625px;
}

.marketwelcome{
  grid-column: 1/2;
  grid-row: 1/2;
}

.marketoffer{
  justify-self: center;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 55px;
  width: 150px;
  position: relative;
  bottom: -100px;

}

.marketseek{
  justify-self: center;
  grid-column: 1/2;
  grid-row: 3/4;
  height: 55px;
  width: 150px
}

.current_trade_view{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
}

.marketbox1{
  border: 5px solid #e3B505;
  width: 175px;
  height: 250px;
  border-radius: 30px 100px 30px 100px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.marketbox2{
  border: 5px solid #e3B505;
  width: 175px;
  height: 250px;
  border-radius: 30px 100px 30px 100px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.marketbox3{
  border: 5px solid #e3B505;
  width: 175px;
  height: 250px;
  border-radius: 30px 100px 30px 100px;
  grid-column: 3/4;
  grid-row: 1/2;
}

.marketbox4{
  border: 5px solid #e3B505;
  width: 175px;
  height: 250px;
  border-radius: 30px 100px 30px 100px;
  grid-column: 4/5;
  grid-row: 1/2;
}




/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: black;
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: black;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}